<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:include="/common/header :: boostrap_file"/>
    <title>welcome</title>
</head>
<body>


<div class="container" style="width:500px">
    <span class="span5 pull-left">
    welcome, <span></span>
    </span>
    <span class="span5 pull-right">
		<label class="inline">
			<a class="btn btn-success btn-sm" href="/user/addpage">
				<i class="icon-plus"></i>
				Add User
			</a>
		</label>
	</span>
    <div class="row">
        <table class="table">
            <caption style="caption-side:top">用户列表</caption>
            <thead>
            <tr>
                <th>Number</th>
                <th>login name</th>
                <th>nickname</th>
                <th>age</th>
                <th>status</th>
                <!--<th>control</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,sta:${users}">
                <td th:text="${sta.count}"></td>
                <td th:text="${user.loginName}"></td>
                <td th:text="${user.nickname}"></td>
                <td th:text="${user.age}"></td>
                <td>
                    <div class="text-primary" th:if="${user.status}">启用</div>
                    <div class="text-warning" th:if="!${user.status}">停用</div>
                </td>
                <!--<td>-->
                <!--<a class="btn btn-info" th:href="'/user/updatepage/'+${user.id}">edit</a>-->
                <!--</td>-->
            </tr>

            </tbody>
        </table>
    </div>

    <div th:replace="common/footer :: #footer"></div>
</div>
</body>
</html>